* {
    box-sizing: border-box;
    border: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square1 {
    
    background-color: green;
}

.square2 {
   
    background-color: red;
}

